.menuItem {
  color: var(--white);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  font-weight: 500;
}

.menuItem .identifier {
  height: 100%;
  width: 4px;
  border-radius: 0 2px 2px 0;
}

.active .identifier {
  background-color: var(--white);
}

.active .title:after {
  content: "";
  display: block;
  background-color: var(--white);
  height: 4px;
  width: 100%;
  border-radius: 3px;
}

.menuItem .icon {
  font-size: 24px;
  display: flex;
  align-items: center;
}
