.selected-option {
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 10px;
  background-color: var(--primary-color-light-1);
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected-option img {
  width: 25px;
  height: 25px;
}

.selected-option .remove-btn {
  font-size: 12px;
}
